@media screen and (max-width: 1024px) {
  .cardExample {
    width: 50%;
  }
}
@media screen and (max-width: 768px) {
  .cardExample {
    width: 25%;
  }
}
@media screen and (max-width: 480px) {
  .cardExample {
    width: 100%;
  }
}
