.myCartContent {
  align-items: center;
  a {
    text-decoration: none;
    color: white;
  }
}
.raisePrice {
  margin: 0;
  color: #6b36fc;
  font-size: 35px;
  list-style: 1;
  font-weight: 900;
}
.raiseProgessBar {
  width: 60%;
  padding: 2.5px;
  background-color: #6b36fc;
}
.cardTextContent {
  font-size: 20px;
  color: gray;
  font-weight: bold;
}
.cardHeadingContent {
  font-size: 35px;
  font-weight: bold;
  line-height: 1;
}
.cardButton {
  background-color: #6b36fc !important;
  font-weight: bold !important;
  font-size: 20px !important;
}
